* {
    padding: 0px;
    box-sizing: border-box;
}

table {
	width: 100%;
	height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

/* topMenu */
.topul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

li {
    float: left;
}

.toplogo a {
    display: block;
    color: #000000;
    padding: 0px 0;
    text-decoration: none;
    margin: 20px;
    margin-left: 195px;
    margin-right: 38px;
}

.topli a {
    display: block;
    color: #777;
    text-align: center;
    font-size: 15px;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.topli a:hover {
    color: #333;
}

/* topMenu */

/* recommend & all*/
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    display: inline-block;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
    display: inline-block;
}

.contents {
    padding: 0px 0px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

element.style {
    font-family: 'NanumSquare', 'sans-serif';
    font-weight: 800;
}

.all_box {
    background-color: #fff;
    border: 2px solid #cecece;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
}

.box {
    width: 100%;
    height: 320px;
    margin: 0px auto 20px auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
    position: relative;
}

.box .font-box {
    /* border-bottom: 1px solid #cecece; */
    padding: 15px;
    position: relative;
}

.box .font-box .font-name {
    font-size: 1.4em;
    margin-bottom: 8px;
    display: inline-block;
    color: inherit;
}

.all_fonts {
    font-size: 1.9em;
    padding: 15px;
    line-height: 1.4;
    border: none;
    height: 13.6rem;
    border-bottom: 0px solid #aaa;
    resize: none;
    overflow: hidden;
}

textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

.box .text-box .custom-txt {
    font-size: 1.9em;
    padding: 15px;
    line-height: 1.4;
    border: none;
    height: 13.6rem;
    border-bottom: 0px solid #aaa;
    resize: none;
    overflow: hidden;

}

/* all */

.row {
    width: 80%;
    margin-bottom: 0px;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.filtering {
    margin: 27px 0px 15px;
}

#category_uses, #category_styles {
    margin-bottom: 10px;
}

.filtering .checkBox {
    margin: 0px 5px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.filtering .label-font {
    font-size: 16.5px;
    color: #212121;
    padding-left: 32px;
    font-family: 'Noto Sans KR', sans-serif;
}
[type="checkbox"]+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* all */

/* recommend & all */

/* introduce */

.wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    z-index: 1;
}

.row {
    width: 80%;
    margin-bottom: 0px;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.about-contents {
    margin: 50px 0px 80px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about-contents .service {
    margin-bottom: 40px;
}

.about-contents .service-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.2;
}

.p-none {
    display: none;
}
br {
    font-family: dotum;
}

.about-contents .service-contents {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
}

.about-contents .service-contents.team-intro {
    width: 70%;
    margin: 50px auto;
}

.about-contents .service-contents {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
}

.about-contents .service-contents.team-intro .team-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
}

.team-member:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ol, ul {
    list-style: none;
}

.strong {
    font-weight: 600;
}

.about-contents .service-contents.team-intro {
    width: 70%;
    margin: 50px auto;
}
.about-contents .service-contents {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: center;
    font-weight: 400;
}

.team-intro .team-member li {
    width: 33%;
    display: inline-block;
    border-bottom: 0;
    padding: 10px 0px;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}
.about-contents li {
    font-size: 18px;
    border-bottom: 1px #ddd solid;
    padding: 18px 0px;
    line-height: 1.3;
}

.team-intro .team-member li .team-posi {
    font-size: 15.5px;
    margin-top: 6px;
    display: inline-block;
}

.about-contents .intro-ex-add {
    text-align: center;
}
.intro-ex-add {
    font-size: 16.5px;
    color: #aaa;
    line-height: 1.5;
}

/* introduce */

/* news */

.about-contents {
    margin: 50px 0px 80px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about-contents .service-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.2;
}

.about-contents .service-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-top: 12px;
    display: inline-block;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ol, ul {
    list-style: none;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}

.about-contents li a {
    color: #212121;
    cursor: pointer;
    transition: 0.2s;
    width: 90%;
    display: inline-block;
}

.about-contents li .m-show {
    display: none;
}

.strong.c-blue {
    color: #0ea57c;
}

.about-contents li .date {
    color: #696969;
    font-size: 16.5px;
    width: 10%;
}

.about-contents li.hidden {
    display: none;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}

.about-contents li {
    font-size: 18px;
    border-bottom: 1px #ddd solid;
    padding: 18px 0px;
    line-height: 1.3;
}

.about-contents li.hidden p {
    line-height: 1.6;
}

/* news */

/* footer */
.footer {
    background-color: #212121;
    padding: 5% 12%;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer .f-right .f-link {
    transition: 0.3s;
    display: inline-block;
    margin-left: 6px;
    color: #aaa;
}

.footer .f-right {
    float: right;
    color: #aaa;
    font-size: 16.5px;
    line-height: 1.5;
    text-align: right;
    top: -10px;
}

/* footer */

/* yuto */