* {
    padding: 0px;
    box-sizing: border-box;
}

table {
	width: 100%;
	height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

/* topMenu */
.topul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

li {
    float: left;
}

.toplogo a {
    display: block;
    color: #000000;
    padding: 0px 0;
    text-decoration: none;
    margin: 20px;
    margin-left: 195px;
    margin-right: 38px;
}

.topli a {
    display: block;
    color: #777;
    text-align: center;
    font-size: 15px;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 20px;
}

.topli a:hover {
    color: #333;
}

/* topMenu */

/* recommend &  */
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    display: inline-block;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
    display: inline-block;
}

.contents {
    padding: 0px 0px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

element.style {
    font-family: 'NanumSquare', 'sans-serif';
    font-weight: 800;
}

.all_box {
    background-color: #fff;
    border: 2px solid #cecece;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
}

.box {
    width: 100%;
    height: 320px;
    margin: 0px auto 20px auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
    position: relative;
}

.box .font-box {
    /* border-bottom: 1px solid #cecece; */
    padding: 15px;
    position: relative;
}

.box .font-box .font-name {
    font-size: 1.4em;
    margin-bottom: 8px;
    display: inline-block;
    color: inherit;
}

.all_fonts {
    font-size: 1.9em;
    padding: 15px;
    line-height: 1.4;
    border: none;
    height: 13.6rem;
    border-bottom: 0px solid #aaa;
    resize: none;
    overflow: hidden;
}

textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

.box .text-box .custom-txt {
    font-size: 1.9em;
    padding: 15px;
    line-height: 1.4;
    border: none;
    height: 13.6rem;
    border-bottom: 0px solid #aaa;
    resize: none;
    overflow: hidden;

}

/* recommend & */

/* footer */
.footer {
    background-color: #212121;
    padding: 5% 12%;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer .f-right .f-link {
    transition: 0.3s;
    display: inline-block;
    margin-left: 6px;
    color: #aaa;
}

.footer .f-right {
    float: right;
    color: #aaa;
    font-size: 16.5px;
    line-height: 1.5;
    text-align: right;
    top: -10px;
}