* {
    padding: 0px;
}

/* topMenu */
.topul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  .toplogo a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0px 0;
    text-decoration: none;
    font-size: 27px;
    margin-left: 150px;
  }
  
  .topli a {
    display: block;
    color: #777;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .topli a:hover{
      color: #333;
  }
  /* topMenu */